<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" href="/">Home</a>
    <a class="p-2 text-muted" href="/technology">Technology</a>
    <a class="p-2 text-muted" href="/design">Design</a>
    <a class="p-2 text-muted" href="/culture">Culture</a>
    <a class="p-2 text-muted" href="/social">Social</a>
    <a class="p-2 text-muted" href="/science">Science</a>
  </nav>
</div>